<a href="https://colab.research.google.com/github/allan10carlo86/BasicPython/blob/main/SamplePythonCode.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This section is for Pythonn Beginner Codes

# Code 1 - Two Numbers

In [ ]:
#Add two numbers:

num1 = 34
num2 = 56

# Adding two nos
sum = num1 + num2

print("Sum of {0} and {1} is {2}" .format(num1, num2, sum))

Sum of 34 and 56 is 90

# Code 2 - Input 2 Numbers

In [ ]:

#Add two numbers:

num1 = input("Input first Number: ")
num2 = input("Input Second Number: ")

# Adding two nos
sum = float(num1) + float(num2)

print("Sum of {0} and {1} is {2}" .format(num1, num2, sum))

Input first Number: 49
Input Second Number: 37
Sum of 49 and 37 is 86.0

#Code 3 - Using Math Function
-- Factorial

In [ ]:
import math as cm

input_var = input("Please input number to get factorial:")
jun_variable = cm.factorial(float(input_var))

print("The factorial of {0} is {1}" .format(input_var, jun_variable))

Please input number to get factorial:90
The factorial of 90 is 1485715964481761497309522733620825737885569961284688766942216863704985393094065876545992131370884059645617234469978112000000000000000000000

# Code  4 - sample printing function

In [15]:
print("There once as a man named George, ")
print("he was 70 years old. ")
print("He really liked the name George, ")
print("but he didn't like being 70")

There once as a man named George,
he was 70 years old.
He really liked the name George,
but he didn't like being 70

#Code 5 - Change the Name of the Name of the Characters

Store Plain Text

In [21]:
character_name = "John"
character_age = "35"

print("There once as a man named " + character_name + ", ")
print("he was " + character_age + " years old. ")

character_name = "Mike"

print("He really liked the name " + character_name + ", ")
print("but he didn't like being " + character_age)

There once as a man named John,
he was 35 years old.
He really liked the name Mike,
but he didn't like being 35

#Code 6 - More on Variables

Store Numbers / boolean

In [23]:
character_name = "John"
character_age = 35.58869
isMale = True #or False

print("There once as a man named " + character_name + ", ")
print("he was " + str(character_age) + " years old. ")

character_name = "Mike"

print("He really liked the name " + character_name + ", ")
print("but he didn't like being " + str(character_age))

There once as a man named John,
he was 35.58869 years old.
He really liked the name Mike,
but he didn't like being 35.58869